@* @model IEnumerable<WebApplication3.Models.Pubela> *@

@* @{ *@
@*     ViewData["Title"] = "Lista Pubele"; *@
@* } *@

@* <h1>Lista Pubele</h1> *@

@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th>Tip</th> *@
@*             <th>Adresa</th> *@
@*             <th>Cetățean</th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in Model) *@
@*         { *@
@*             <tr> *@
@*                 <td>@item.Tip</td> *@
@*                 <td>@item.Adresa</td> *@
@*                 <td>@item.Cetatean?.Nume</td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@

@* <a class="btn btn-primary" asp-action="Create">Adaugă pubelă nouă</a> *@


@model IEnumerable<WebApplication3.Models.Pubela>

@{
    ViewData["Title"] = "Lista Pubele";
}

<h1>Lista Pubele</h1>


<table class="table">
    <thead>
        <tr>
            <th>Tip</th>
            <th>Adresa</th>
            <th>Cetățean id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tip</td>
                <td>@item.Adresa</td>
                <td>@item.CetateanId</td> <!-- <<< adăugat -->
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Adaugă pubelă nouă</a>
